.job-description{
    .moka-splash{
         padding-top:250px !important;
         padding-bottom:250px !important;
         @media screen and (max-width:768px){
            padding-top:120px !important;
            padding-bottom:120px !important;
        }
            p{
                width:auto;
                max-width:742px;
                color:#fafbfc;
                opacity: 0.73;
                font-weight: 500;
            }
            @media screen and (max-width:768px){
                h3{
                    font-size: 36px;
                }
                p{
                    font-size:22px;
                }
            }
            @media screen and (max-width:480px){
                h3{
                    font-size: 25px;
                }
                p{
                    font-size:16px;
                }
            }
    }
    .aboutJob{
        padding: 20px;
        padding-top: 86px;
        text-align: center;
        h4{
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1.4px;
            color: $sunglow;
        }
        p{
            max-width: 1200px;
            margin:0 auto;
            font-size: 18px;
            line-height: 1.93;
            color: rgba(0, 0, 0, 0.54);
            padding-bottom: 40px;
        }
        a{
            display: inline-block;
            text-decoration: underline;
            color: $sunglow;
            margin-bottom:30px; 
            .svg-wrap{
                display: inline-flex;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }
    .jobStripPic{
        margin-bottom: 48px;
    }
    .content-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
        .content{
            border: solid 0.7px rgba(0, 0, 0, 0.18);
            padding: 32px 27px 22px 27px;
            margin-bottom: 30px;
            h3{
                margin-top:0;
                font-size: 16px;
                letter-spacing: 0.5px;
                color: rgba(0, 0, 0, 0.87);
                font-weight: 600;
            }
            ul{
                padding-inline-start: 20px;
                list-style-image: url("/images/brand/jobDescription/bullet.svg");
                li{
                    font-size: 14px;
                    letter-spacing: 0.6px;
                    color: rgba(0, 0, 0, 0.66);
                    padding-bottom: 5px;
                    padding-top: 5px;
                    padding-left: 5px;
                    line-height: 1.93;
                }
                .subContent{
                    list-style-image: url("/images/brand/jobDescription/circle.svg");
                }
            }
        }
        p{
            font-size: 14px;
            line-height: 2.43;
            color: rgba(0, 0, 0, 0.66);
        }

        .sticky{
            position: sticky;
            top:100px;
        }
        .role-information{
            box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
            padding: 32px 27px 22px 27px;
            margin-bottom: 30px;
            h3{
                margin-top:0;
                font-size: 16px;
                letter-spacing: 0.5px;
                color: rgba(0, 0, 0, 0.87);
                font-weight: 600;
            }
            h4{
                font-size: 16px;
                letter-spacing: 0.3px;
                color: rgba(0, 0, 0, 0.87);
            }
            p{
                font-size: 16px;
                letter-spacing: 0.3px;
                color: rgba(0, 0, 0, 0.54);
                margin-bottom: 0;
                span{
                    width: 30px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 10px;
                    img{
                        display: inline-block;
                        margin: 0 auto;
                    }
                }
                
            }

            .hiring-manager{
                display: flex;
                flex-direction: row;
                align-items: center;
                .managerImg{
                    width:49px;
                }
                p{
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    color: rgba(0, 0, 0, 0.54);
                    padding: 0 10px;
                }
            }

            .apply{
                width:120px;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                border-radius: 2px;
                background-color: $sunglow;
                margin-top: 25px;
                border:0;
                outline: 0;
                padding: 10px 20px;
            }
        }
        .aboutRole{
            margin-top:0;
            font-size: 22px;
            font-weight: bold;  
            letter-spacing: 1.3px;
            color: rgba(0, 0, 0, 0.87);
        }
        .aboutRoleDes{
            max-width: 1050px;
            font-size: 16px;
            line-height: 2.17;
            color: rgba(0, 0, 0, 0.54);
            padding-bottom: 20px;
        }
        .benefit-culture-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            > [class*='col-'] {
                display: flex;
                flex-direction: column;
                .benefit-culture{
                    border: solid 0.7px rgba(0, 0, 0, 0.18);
                    padding: 30px 27px;
                    flex-grow: 1;
                    h4{
                        font-size: 18px;
                        letter-spacing: 0.6px;
                        color: rgba(0, 0, 0, 0.87);
                        font-weight: 600;
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.86;
                        color: rgba(0, 0, 0, 0.66);
                    }
                }
            }
        }
        
    }

    .talent{
        background-color:#eeeef0;
        padding:73px 20px 38px 20px;
        text-align: center;
        p{
            font-size: 22px;
            letter-spacing: 1.2px;
            text-align: center;
            color: rgba(0, 0, 0, 0.87);
            font-weight: 600;
        } 
        .join-now{
            background-color:#1870e6;
            border:0;
            border-radius: 0; 
            outline: 0;
            color:$white;
            font-size:16px;
            margin-top:30px;
            width:120px;
            padding: 10px;
        }
    }


    &.endeavor-job{

        .endeavor-splash{
            padding-top:250px !important;
            padding-bottom:135px !important;
            @media screen and (max-width:768px){
                padding-top:120px !important;
                padding-bottom:120px !important;
            }
        }

        .endeavor-nav{
            img{
                width: 150px;
            }
        }

        .aboutJob{
            h4{
                color: #5986d4;
            }
        }

        .contact{
            background-color: #5986d4;
            color: $white;
        }

       
        .role-information{
            .apply{
                background-color: #5986d4;
            }
        }
    }
}