.mokaBrand{
    .moka-splash{
         padding-top:200px !important;
         padding-bottom:200px !important;
         @media screen and (max-width:768px){
            padding-top:120px !important;
            padding-bottom:120px !important;
        }
            p{
                width:auto;
                max-width:742px;
                color:#fafbfc;
                opacity: 0.73;
                font-weight: 500;
            }
            @media screen and (max-width:768px){
                h3{
                    font-size: 36px;
                }
                p{
                    font-size:22px;
                }
            }
            @media screen and (max-width:480px){
                h3{
                    font-size: 25px;
                }
                p{
                    font-size:16px;
                }
            }
            .btn{
                border-radius:2px;
                padding: 12px 20px;
                width :144px;
                color:$black !important;
                background-color: $sunglow !important;
                outline: 0;
            }
    }

    .whatWeBelieve {
    
        h2 {
            margin: 15px 0;
            color:$sunglow !important;
        }
        p{
            max-width: 823px;
            margin: 0 auto;
        }
        svg{
            path{
                fill: $sunglow;
            }
        }
    }

    .benefitsPerks{
        padding-left:20px;
        padding-right:20px;
         background-color: #f5f5f5;
        .content-wrapper{
            max-width: 1180px;
            margin: 0 auto;
            .benefits-content{
                position: relative;
                border-radius: 2px;
                border: solid 1px #d8d8d8;
                padding: 20px 22px;
                margin-bottom: 40px;
                .benefits-name{
                    font-size: 18px;
                    letter-spacing: 1.2px;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: 700;
                    @media screen and (max-width:564px){
                        font-size:16px;
                        letter-spacing: 0.5px;
                    }
                }
                .description{
                    font-size: 16px;
                    line-height: 1.88;
                    color: rgba(0, 0, 0, 0.38);
                    @media screen and (max-width:1200px){
                        min-height:90px;
                    }
                    @media screen and (max-width:875px){
                        min-height:120px;
                    }
                    @media screen and (max-width:768px){
                        min-height:auto;
                    }

                }
            }
        }
    }

    .mokaTeam{
        .heading{
            color:$sunglow;
        }
         .content-wrapper{

            .team-content{
                img{
                    border-radius: 50%;
                }
                @media screen and (max-width:768px){
                    img{
                        width: 300px;
                        display:block;
                        margin: 0 auto;
                    }
                    
                }
                .overlay{
                    border-radius: 50%;
                    background-color:rgba(255, 204, 51, 0.50);
                    .member-details{
                        .social-wrapper{
                            border-radius: 50%;
                            background-color: #0077b5;
                            img{
                                border-radius:0;
                            }
                        }
                    }
                }
            }
        }
    }

    .reasonToJoinMoka{
        padding-left:20px;
        padding-right:20px;
        padding-bottom: 0;
        border-bottom: solid 0.7px rgba(45, 45, 45, 0.1);
        .heading{
            padding-bottom: 80px;
        }
        .content-wrapper{
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            > [class*='col-'] {
                display: flex;
                flex-direction: column;
                margin-bottom: 63px;
            }
            .reason-content{
                text-align: center;
                h3{
                    font-size: 18px;
                    font-weight: 600;
                    color: $sunglow;
                }
                p{
                    font-size: 16px;
                    line-height: 1.94;
                    color: rgba(0, 0, 0, 0.54);
                    // min-height: 200px;
                     @media screen and (max-width:768px){
                        min-height: auto;  
                    }
                }
            }
        }
    }

    .moka-featuredJobs{
        padding-left:20px;
        padding-right:20px;
        .heading{
            margin-bottom: 0;
            color: $sunglow;
        }
        .sub-head{
            font-size: 24px;
            letter-spacing: 0.4px;
            text-align: center;
            color: rgba(0, 0, 0, 0.54);
            margin-top: 5px;
            margin-bottom: 64px;
        }
        // .content-wrapper{
        //     max-width: 1024px;
        //     margin: 0 auto;
        //     border: solid 1px #d8d8d8;
        //     .job-content{
        //         position: relative;
        //         border-radius: 2px;
        //         padding: 20px 22px;
        //         .job-name{
        //             font-size: 24px;
        //             letter-spacing: 0.5px;
        //             color: rgba(0, 0, 0, 0.87);
        //             font-weight: 700;
        //             @media screen and (max-width:564px){
        //                 font-size:16px;
        //                 letter-spacing: 0.5px;
        //             }
                    
        //         }
        //         .location-salary{
        //             text-align: right;
        //             margin-top: 10px;
        //             span{
        //                 font-size: 18px;
        //                 text-transform: none;
        //                 letter-spacing: 0;
        //                 letter-spacing: 0.3px;
        //                 color: $sunglow;
        //                 font-weight: 500;
        //                 @media screen and (max-width:564px){
        //                     display: block;
        //                     float:none;
        //                     padding-top: 10px;
        //                 }
        //             }
        //             img{
        //                 margin-right: 10px;
        //             }
        //         }
        //         .job-type{
        //             font-size: 18px;
        //             letter-spacing: 0.3px;
        //             color: rgba(0, 0, 0, 0.54);
        //         }
        //         .company-name{
        //             font-size: 16px;
        //             font-style: italic;
        //             font-weight: 600;
        //             letter-spacing: 1.9px;
        //             color: rgba(0, 0, 0, 0.54);
        //         }
        //         .content-heading{
        //             font-size: 16px;
        //             font-weight: 600;
        //             letter-spacing: 0.5px;
        //             color: rgba(0, 0, 0, 0.38);
        //             padding-top: 36px;
        //             text-transform: uppercase;
        //         }
        //         .description{
        //             font-size: 18px;
        //             line-height: 1.89;
        //             letter-spacing: normal;
        //             color: rgba(0, 0, 0, 0.87);
        //             max-width: 893px;
        //         }
        //         ul{
        //             padding-inline-start: 0;
        //             list-style: none;
        //             li{
        //                 max-width: 850px;
        //                 font-size: 18px;
        //                 letter-spacing: 0.6px;
        //                 color: rgba(0, 0, 0, 0.87);
        //                 padding-bottom: 10px;
        //                 padding-top: 10px;
        //                 padding-left: 35px;
        //                 background: url("/images/brand/moka/active-yellow.svg") left no-repeat;
        //             }
        //         }
        //         .btn-wrapper{
        //             text-align: center;
        //             .btn-sign-up{
        //                 width: 186px;
        //                 border-radius: 2px;
        //                 background-color: $sunglow;
        //                 font-size: 18px;
        //                 font-weight: 500;
        //                 letter-spacing: 1.2px;
        //                 color: rgba(0, 0, 0, 0.87);
        //                 border:0;
        //                 padding: 11px;
        //                 font-weight: 600;
        //                 margin-top: 20px;
        //                 margin-bottom:20px;
        //             }
        //         }    
        //     }
        // }
        .content-wrapper{
            max-width: 1180px;
            margin: 0 auto;
            // border: solid 1px #d8d8d8;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            > [class*='col-'] {
                display: flex;
                flex-direction: column;
            }
            .job-content{
                padding: 29px 16px 20px;
                border: solid 1px #d8d8d8;
                flex-grow:1;
                justify-content: space-between;
                flex-direction: column;
                display: flex;
                margin-bottom: 10px;
                .content{
                    .job-name{
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1.1px;
                        color: #000000;
                        text-transform: uppercase;
                        margin: 0;
                        @media screen and (max-width:564px){
                            font-size:16px;
                            letter-spacing: 0.5px;
                        }
                        
                    }
                    .location{
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.38);
                        margin: 5px 0 10px;
                    }
                    .about-job{
                        font-size: 16px;
                        line-height: 1.6;
                        color: #0000008a;
                    }
                }
               
                .btn-wrapper{
                    text-align: right;
                    .btn-sign-up{
                        width: 108px;
                        border-radius: 2px;
                        background-color: $sunglow;
                        font-size: 18px;
                        border:0;
                        padding: 9px 23px;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        color: #ffffff;
                        text-transform: uppercase;
                    }
                }    
            }
        }
    }

    .frequentQuestions{
        .content-wrapper{
            .panel-group{
                .panel{
                    .panel-heading{
                        .panel-title{
                            font-size: 20px;
                            letter-spacing: 0.2px;
                        }
                    }

                    .panel-collapse{
                        .panel-body{
                            font-size: 18px;
                            line-height: 2;
                            max-width: 970px;
                        }
                    }
                }
            }
            
        }
    }
}


