.brand-menu-wrapper{
    position: fixed;
    padding: 27px 165px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width:100%;
    @media screen and (max-width:992px){
        padding: 27px 100px;
    }
    @media screen and (max-width:768px){
        padding: 27px 30px;
    }
    &.bg-enabled {
        background-color: #fafafa;
        background-color: #fff;
        box-shadow: 0 2px 14px 0 rgba(1, 1, 1, 0.1);
        svg{
            g{
                fill: $black;
            }
        }
    }
    .colorLogo{
        svg{
            g{
                fill: $black;
            }
        }
    }

    .contact{
        width:120px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        border-radius: 2px;
        background-color: $sunglow;
        border:0;
        outline: 0;
        padding: 10px 20px;

        &.active{
            box-shadow: none;

            &:hover{
                background-color: $sunglow;
                color: #fff;
            }
        }
    }
}