.brandFooter{
    .social-content-wrapper{
        padding: 20px 150px ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: #f7f7f7;
        @media screen and (max-width:992px){
            padding: 20px 100px;
        }
        @media screen and (max-width:768px){
            padding: 20px 30px;
        }
        h5{
            font-size: 16px;
            color: rgba(0, 0, 0, 0.54);
            margin:0;
        }
        a{
            padding-left: 25px;
            display: inline-flex;
            @media screen and (max-width:600px){
                padding-left: 10px;
            }
        }
    }

    .policy{
        .row-wrap{
            padding: 30px 135px !important;
            max-width: 100% !important;
            
            .copyright{
                height: auto !important;
                .copyright-icon{
                    line-height: 1 !important;
                }
            }
            @media screen and (max-width:992px){
                padding: 30px 100px !important;
                .col{
                    padding: 0 !important;
                }
            }
             @media screen and (max-width:768px){
               padding: 30px !important;
               .copyright{
                   text-align: right !important;
               }
               .col{
                   text-align: left !important;
               }
            }

             @media screen and (max-width:550px){
               .copyright{
                   text-align: center !important;
                   margin-top: 10px;
               }
               .col{
                   text-align: center !important;
                   a{
                      span{
                          margin-right: 10px;
                      }
                   }
               }
            }
        }
    }
}