

.benefits{
    padding: 70px;
    background-color: rgba(227, 225, 233, 0.24);
    h2{
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 32px;
    }
    p{
        max-width: 800px;
        font-size: 18px;
        line-height: 1.75;
        letter-spacing: 0.2px;
        text-align: center;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.87);
    }
}

.featuredJobs{
    padding-left:20px;
    padding-right:20px;
    .heading{
        margin-bottom: 0;
    }
    .sub-head{
        font-size: 24px;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);
        margin-top: 5px;
        margin-bottom: 64px;
    }
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        .job-content{
            position: relative;
            border-radius: 2px;
            border: solid 1px #d8d8d8;
            padding: 20px 22px;
            margin-bottom: 40px;
            .job-name{
                font-size: 18px;
                letter-spacing: 1.1px;
                color: #000;
                text-transform: uppercase;
                font-weight: 600;
                @media screen and (max-width:564px){
                    font-size:16px;
                    letter-spacing: 0.5px;
                }
                span{
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.87);
                    text-transform: none;
                    float: right;
                    letter-spacing: 0;
                    @media screen and (max-width:564px){
                       display: block;
                       float:none;
                       padding-top: 10px;
                    }
                }
                img{
                    margin-right: 3px;
                }
            }
            .company-name{
                font-size: 16px;
                font-style: italic;
                font-weight: 600;
                letter-spacing: 1.9px;
                color: rgba(0, 0, 0, 0.54);
            }
            .description{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.88;
                color: rgba(0, 0, 0, 0.38);
                min-height: 90px;
                @media screen and (max-width:768px){
                    min-height:auto;
                }

            }
            .btn-wrapper{
                text-align: right;
                .btn-sign-up{
                    width: 108px;
                    border-radius: 2px;
                    background-color: #1870e6;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1.2px;
                    color: #ffffff;
                    text-transform: uppercase;
                    border:0;
                }
            }    
        }
    }
}

.ourValues{
    padding-left:20px;
    padding-right:20px;
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        .value-content{
            position: relative;
            padding: 20px 22px;
            margin-bottom: 20px;
            text-align: center;
            .value-name{
                font-size: 18px;
                font-weight: 600;
                color: #1870e6;
                text-transform: uppercase;
                margin-bottom: 6px;
                @media screen and (max-width:1150px){
                    min-height:44px;
                }
                @media screen and (max-width:991px){
                    min-height:auto;
                }
            }
            .description{
                line-height: 1.88;
                font-size: 16px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.54);
                min-height: 120px;
                @media screen and (max-width:1150px){
                    min-height: 170px;
                }
                @media screen and (max-width:992px){
                    min-height:120px;
                }
                @media screen and (max-width:768px){
                    min-height: auto;
                }
            }
            .img-wrapper{
                margin-bottom: 12px;
            }
        }
    }
}


.press-features{
    padding-left:20px;
    padding-right:20px;
    padding-top: 0;
    h2{
        color:#1870e6;
    }
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        .img-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            flex-wrap: wrap;
            &.even-space{
                justify-content: space-around;
            }
            img{
                padding: 20px;
                width:25%;
                @media screen and (max-width:560px){
                    width:50%;
                }
            }
        }
    }
}

