.company-admin{
    min-height: 100vh;
    display: block;
    font-family: "Avenir";
    nav{
        border-bottom:solid 0.5px rgba(0, 0, 0, 0.54);
        .company-menu-wrapper{
            max-width: 1200px;
            margin: 0 auto;
            padding: 17.5px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .menu-logo{
                width: 72px;
            }

            .company-wrapper{
                .company-name{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    .company-logo{
                        margin-right: 10px;
                    }
                    h4{
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(0, 0, 0, 0.87);
                        margin: 0;
                        img{
                            margin-top: -5px;
                        }
                    }
                    h5{
                        font-size: 16px;
                        font-style: oblique;
                        color: rgba(0, 0, 0, 0.54);
                        margin: 0;
                    }
                }
            }
        }
    }
     .tab-wrapper{
            background-color: #fff;
            .tab-content-wrapper{
                max-width: 1200px;
                padding: 0 20px;
                margin: 0 auto;
                background-color: #fff;

                .tab-content{
                    background-color: #f8f8fb;
                }
            }
        }

    .whole-wrapper{
        background-color: #f8f8fb;
        .company-content{
            max-width: 1200px;
            padding: 35px 20px;
            margin: 0 auto;

            .job-content{
                .job-details-wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    padding-bottom: 36px;
                    h4{
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.87);
                        margin: 0;
                        img{
                            margin-top: -5px;
                        }
                    }
                    p{
                        font-size: 12px;
                        letter-spacing: normal;
                        color: rgba(0, 0, 0, 0.38);
                        margin: 0;
                        .date{
                             color: rgba(0, 0, 0, 0.54);
                        }
                        .status{
                            font-weight: 900;
                            letter-spacing: 0.4px;
                            padding: 7px;
                            border-radius: 3px;
                            background-color: rgba(5, 204, 127, 0.32);
                            text-transform: uppercase;
                            margin-left: 3px;
                        }
                    }
                }
                .view-hours{
                    .view-hour-content{ 
                        border-radius: 2px;
                        box-shadow: 0 -1px 2px 0 rgba(112, 112, 133, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.04);
                        background-color: #ffffff;
                        border: solid 0.6px rgba(45, 45, 45, 0.1);
                        border-left: solid 4px #1870e6;
                        padding: 38px;
                        text-align: center;
                        h6{
                            margin:0;
                            font-size: 48px;
                            font-weight: 900;
                            color: rgba(0, 0, 0, 0.87);
                            span{
                                padding-left:5px; 
                            }
                        }
                        p{
                            margin:0;
                            padding-top: 10px;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.38);
                        }
                    }
                }
                .job-candidates-wrapper{
                    h6{
                        font-size: 22px;
                        font-weight: 900;
                        color: rgba(0, 0, 0, 0.87);
                        margin-top:32px;
                        margin-bottom: 22px;
                    }
                    .table-wrapper{
                        padding: 22px;
                        border-radius: 2px;
                        box-shadow: 0 -1px 2px 0 rgba(112, 112, 133, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.04);
                        background-color: #ffffff;
                        border: solid 0.6px rgba(45, 45, 45, 0.1);
                        table{
                            width:100%;
                            border-collapse: collapse;
                            thead{
                                th{
                                    font-size: 12px;
                                    font-weight: 900;
                                    letter-spacing: 0.3px;
                                    color: rgba(0, 0, 0, 0.27);
                                    text-transform: uppercase;
                                    padding: 10px;
                                    &.date-heading{
                                        text-align: right;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    border-bottom: solid 0.7px rgba(45, 45, 45, 0.1);
                                    &:last-child{
                                        border-bottom:0;
                                    }
                                    td{
                                        padding: 16px 10px;
                                        font-size: 14px;
                                        color: rgba(0, 0, 0, 0.87);
                                        .candidate-info{
                                            display: flex;
                                            justify-content: flex-start;
                                            flex-direction: row;
                                            align-items: center;
                                            margin-bottom: 0;
                                            .mr5{
                                                margin-right: 5px;
                                            }
                                        }
                                        &.date{
                                            letter-spacing: 0.3px;
                                            color: #1870e6;
                                            text-align: right;
                                        }
                                        .education{
                                            font-size: 12px;
                                        }
                                        .university{
                                            margin-bottom: 0;
                                            font-size: 12px;
                                            color: rgba(0, 0, 0, 0.54);
                                        }
                                    }
                                }
                            }
                        }
                    }
                   
                }

                .share-social-wrapper{
                    h5{
                        font-size: 24px;
                        color: rgba(0, 0, 0, 0.87);
                        margin:29px 0 20px 0;
                    }
                    .social-icon-wrapper{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        .share-button{
                            margin-right: 17px;
                            outline: 0;
                        }
                        .copy-to-clipboard{
                            background-color: $white;
                            padding: 14px;
                            margin-left: 34px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .link{
                                font-size:14px;
                                color:#0076ff;
                                margin-left:5px;
                                margin-bottom: 0;
                                max-width:250px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            .copy{
                                margin-left:20px;
                                font-size: 12px;
                                font-weight: 900;
                                color: #1870e6;
                                margin-bottom: 0;
                                position: relative;
                                display: inline-flex;

                                .copied{
                                    position: absolute;
                                    display:block;
                                    background-color: #1870e6;
                                    top: -30px;
                                    left: -10px;
                                    color: #fff;
                                    padding: 5px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }


                .funnel-wrapper{
                    padding: 0 10px;
                    h5{
                        font-size: 22px;
                        font-weight: 900;
                        color: rgba(0, 0, 0, 0.87);
                        margin-bottom: 20px;
                    }
                    .funnel-category{
                        background-color:$white;
                        position: relative;
                        &.interested{
                            background-color: #f3f8fe;
                        }
                        &.resumes-screened{
                            background-color: #eaf3ff;
                        }
                        &.candidate-screened{
                            background-color: #e3eefb;
                        }
                        &.assessed{
                            background-color: #e3eefb;
                        }
                        &.delievered{
                            background-color: #d1dff2;
                        }
                        .category-progress{
                            height:3px;
                            background-color: #485bff;
                        }
                        .category-wrapper{
                            padding: 6.5px 16px; 
                           
                            p{
                                font-size: 16px;
                                font-weight: 900;
                                color: rgba(0, 0, 0, 0.38);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .category-percentage{
                                    font-size: 12px;
                                    font-style: oblique;
                                    color: rgba(0, 0, 0, 0.54);
                                }
                                &.category-candidate{
                                    font-size: 48px;
                                    font-weight: 500;
                                    color: rgba(0, 0, 0, 0.87);
                                    margin-bottom: 0;
                                }
                            }

                        }
                        .funnel-overlay{
                            position: absolute;
                            top:0;
                            left:0;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;

                            background-color: rgba(0, 0, 0, 0.72);
                            padding: 16px;
                            .upgrade{
                                font-size: 14px;
                                color: #ffffff;
                                margin-bottom: 0;
                                line-height: 1.2;
                            }
                            .upgrade-btn{
                                font-size: 14px;
                                color: #ffffff;
                                padding: 6px 17px;
                                background-color:  #1870e6;
                                outline: 0;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}