.contact-form {
     @media (max-width:650px) {
            padding-left:0!important;
        }
    .modal-dialog{
        width:732px;
        max-width: 732px;
        @media (max-width:992px) {
             width:auto;
        }
        .modal-content{
            border-radius:0;
            .form-header{
                padding: 35px;
                text-align: center;
                background-color: rgba(112, 112, 133, 0.12);
                .modal-title{
                    font-size: 26px;
                    font-weight: bold;
                    letter-spacing: 1.7px;
                    color: rgba(0, 0, 0, 0.87);
                    span {
                        color:#1870e6;
                    } 
                }
                .sub-heading{
                    font-size: 18px;
                    letter-spacing: 1.2px;
                    color: rgba(0, 0, 0, 0.54);
                    margin: 10px;
                    margin-bottom: 0;
                }
            }
            .form-content{
                background-color: #f5f5f6;
                padding: 32px;
                .input-wrap{
                    padding-bottom: 35px;
                    label{
                        font-size: 14px;
                        font-weight: 400;
                        padding-bottom: 7px;
                        text-transform: uppercase;
                        letter-spacing: 0.9px;
                        color: rgba(0, 0, 0, 0.87);
                        .required{
                            color:#ff0000
                        }
                    }
                    input{
                        border-radius: 0;
                        padding: 13px 16px;
                        font-size:16px;
                        letter-spacing: 1px;
                        color: rgba(0, 0, 0, 0.54);
                        height: auto;
                        &:focus{
                            border-color:#ccc;
                            box-shadow:none;
                        }
                    }
                    textarea{
                        border-radius: 0;
                        padding: 13px 16px;
                        font-size:16px;
                        letter-spacing: 1px;
                        color: rgba(0, 0, 0, 0.54);
                        height: auto;
                        &:focus{
                            border-color:#ccc;
                            box-shadow:none;
                        }
                    }
                    .error{
                        color:red;
                        font-size: 12px;
                        padding-top: 10px;
                    }
                }
                .btn-wrap{
                    text-align: right;
                    .submit-btn{
                        margin: 15px 0;
                        font-size: 18px;
                        font-weight: 600;
                        color: #fafbfc;
                        width:170px;
                        background-color: #1870e6;
                        border:0;
                        border-radius: 0;
                        padding: 12px;
                      
                        &.cancel{
                            margin-right: 20px;
                            background-color:transparent;
                            border:1px solid #ccc; 
                            color:#ccc;
                            @media (max-width:450px) {
                                margin-right:0;
                            }
                        }
                    }
                }
                
            }
        }
         
    }
   
}