.terms {
  max-width: 700px;
  margin: 140px auto;
  padding: 0 20px;
  // a {
  //   color: $color_blue;
  // }

  h1 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: #292929;
      font-weight: 600;
  }
  h2 {
    color: #434343;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 18px 0;
    margin-top: 32px;
  }
  h3 {
    color: #5c5c5c;
    font-size: 18px;
    text-transform: uppercase;
    margin: 18px 0;
    margin-top: 32px;
  }
  p, li {
    margin-bottom: 24px;
    line-height: 1.4;
    color: #292929;
    font-size: 16px;
    &:last-child() {
      margin-bottom: 24px;
    }
  }
  ul {
    list-style: decimal;
    padding-left: 20px;
    margin: 12px 0;
  }
  // // .anchor {
  // //   display: block;
  // //   margin: 24px 0;
  // //   text-decoration: underline;
  // //   color: $color_blue;
  // //   &:last-child {
  // //     padding-bottom: 32px;
  // //   }
  // //   &:hover {
  // //     color: darken($color_blue, 10);
  // //   }
  // }
}
