.job-seekers{
    hr{
        opacity:0.5;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.whatWeBelieve {
    
    h2 {
        margin: 15px 0;
        color:#1870e6;
    }
    p {
        font-size: 18px;
        font-weight: normal;

        line-height: 1.93;
        letter-spacing: normal;
        text-align: center;
        color: #0000008a;
    }
}

/* The actual timeline (the vertical ruler) */
// .howToWork {
//     h2 {
//         margin-bottom: 40px;
//         margin-top: 40px;
//     }

//     .timeline {
//         position: relative;
//         max-width: 1140px;
//         margin: 0 auto;
//         &:after {
//             content: "";
//             position: absolute;
//             width: 4px;
//             background-color: #7070851e;
//             top: 15px;
//             bottom: 172px;
//             left: 50%;
//             margin-left: -2px;
//         }
//         .item {
//             padding: 0px 40px 50px;
//             position: relative;
//             width: 50%;
//             counter-increment: myIndex;
//             &:before {
//                 content: counter(myIndex, decimal-leading-zero);
//                 font-size: 78px;
//                 font-weight: 800;
//                 line-height: 1;
//                 letter-spacing: 0.7px;
//                 text-align: center;
//                 color: #e7eef7;
//                 top: 0;
//                 position: absolute;
//                 z-index: 1;
//             }
//             .content {
//                 padding: 0 30px;
//                 position: relative;
//                 h3 {
//                     font-size: 24px;
//                     font-weight: 800;
//                     line-height: 1;
//                     letter-spacing: normal;
//                     color: #1870e6;
//                     margin-top: 0;
//                     position: relative;
//                     &::before {
//                         content: "";
//                         position: absolute;
//                         width: 10px;
//                         height: 10px;
//                         background-color: #1870e6;
//                         top: 50%;
//                         border-radius: 50%;
//                         z-index: 1;
//                         transform: translateY(-50%);
//                     }
//                 }
//                 p {
//                     font-size: 18px;
//                     font-weight: normal;

//                     line-height: 1.78;
//                     letter-spacing: normal;
//                     color: #0000008a;
//                 }
//             }
//         }
//     }
// }

.howToWork {
    h2 {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .timeline {
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
        @media (max-width:992px){
             max-width: 700px;
             margin: 0 20px 0 30px;
        }
        @media (max-width:450px){
             margin: 0 10px 0 30px;
        }
        .timeline-item {
            padding: 0 80px 80px 0;
            position: relative;
            @media screen and (max-width:992px){
                padding: 0 0 40px 0;
                max-width: 500px;
            }
            &.right{
                padding:0 0 40px 100px;
                text-align: right;
                @media (max-width:992px){
                    text-align:left;
                    padding: 0 0 40px 0;
                }
            }
            .content {
                padding: 0 30px;
                position: relative;
                h3 {
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 1;
                    letter-spacing: normal;
                    color: #1870e6;
                    margin-top: 0;
                    position: relative;
                    @media (max-width:450px){
                        font-size:16px
                    }
                }
                p {
                    font-size: 18px;
                    font-weight: normal;

                    line-height: 1.78;
                    letter-spacing: normal;
                    color: #0000008a;
                    @media (max-width:450px){
                        font-size:14px
                    }
                }
                .acc-manager{
                    width:300px;
                    @media (max-width:992px){
                        width: 500px;
                    }
                }
                .company-size{
                    padding: 22px;
                    border-radius: 6px;
                    background-color: #ffffff;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
                    text-align: left;
                    @media (max-width:450px){
                        padding: 10px;
                    }
                    h4{
                        font-size:12px;
                        font-weight: 600;
                        margin-top: 0;
                    }
                    .btn{
                        font-size:12px;
                        border-radius:15px;
                        padding: 5px 20px;
                        margin-right: 10px;
                        &.startup{
                            color:#1870e6;
                            border-color:#1870e6;
                        }
                        @media(max-width:450px){
                            padding: 5px 10px;
                            margin-right: 5px;
                        }
                    }
                }
                .skills-match{
                    padding: 22px;
                    border-radius: 6px;
                    background-color: #ffffff;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
                    text-align: left;
                    @media (max-width:450px){
                        padding:10px;
                    }
                    h4{
                        font-size:16px;
                        margin-top: 0;
                        font-weight: 600;
                        color:#1870e6;
                    }
                    p{
                        font-size:14px;   
                        font-weight: 600;         
                        margin-bottom: 0;
                        span{
                            color:#8DC44E;
                        }
                    }
                }
                
            }
        }
        .center-box{
            width: 4%;
            display: inline-block;
            box-sizing: border-box;
            position: absolute;
            min-height: 583px;
            vertical-align: top;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width:992px){
                left:0;
                min-height: 930px;
                transform: none;
            }
            @media screen and (max-width:450px){
                min-height:800px;
            }
            .vertical-line{
                width: 4px;
                min-height: 100%;
                background:  rgba(112, 112, 133, 0.12);
                position: absolute;
                left: 50%;
                top: 20px;
                .part,.part1{
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    margin-left: -4px;
                    transition: background .15s ease;
                    background-color: #1870e6;
                    &.part2{
                        top:33%;
                    }
                    &.part3{
                        top:66%;
                    }
                    &.part4{
                        top:100%;
                    }
                }

            }
        }
    }
}

.what-vested-do{
    padding: 70px;
    background-color: rgba(227, 225, 233, 0.24);
    max-width:1140px;
    margin: 0 auto 40px;
    p{
        max-width: 800px;
        font-size: 20px;
        line-height: 2.05;
        letter-spacing: 0.8px;
        text-align: center;
        color: #1870e6;
        margin: 0 auto;
    }
}
.jobfit {
    padding-left:20px;
    padding-right:20px;

    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        .job-content{
            position: relative;
            border-radius: 2px;
            border: solid 1px #d8d8d8;
            padding: 20px 22px;
            margin-bottom: 20px;
            text-align: center;
            .job-name{
                font-size: 18px;
                letter-spacing: 1.1px;
                color: #000;
                text-transform: uppercase;
            }
            .applications{
               font-size: 12px;
                font-style: italic;
                letter-spacing: 0.2px;
                color: #1870e6;
                font-weight: 600;
                span{
                    font-weight: 700;
                }
                img{
                    margin-right: 5px;
                    margin-top: -3px;
                }
            }
            .description{
                font-size: 16px;
                font-weight: 600;
                line-height: 1.88;
                color: rgba(0, 0, 0, 0.38);
                min-height: 90px;
            }
            .btn-sign-up{
                width: 108px;
                border-radius: 2px;
                background-color: #1870e6;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1.2px;
                color: #ffffff;
                text-transform: uppercase;
                border:0;
            }
        }
    }

    .viewall{
        display: block;
        margin: 0 auto;
        border-radius: 0;
        background-color: #1870e6;
        min-width: 144px;
        padding: 12px;
        margin-top: 20px;
    }
}

.benefits {
    .row {
        display: flex;
    }
    .box {
        margin: 0 10px;
        background-color: #fff;
        height: 100%;
        padding: 30px;
        position: relative;
        img {
            position: absolute;
            left: -18px;
            top: -18px;
        }
        h4 {
            font-size: 22px;
            font-weight: bold;
            color: #000000de;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p {
            font-size: 18px;
            line-height: 1.67;
            color: #0000008a;
        }
    }
}

.testimonials {
    padding: 40px 20px;
    margin-bottom: 20px;
    .heading{
        color:#1870e6;
    }
    .content-wrapper{
        max-width: 1140px;
        padding-top: 100px;
        margin: 0 auto;
        .testimonial-content{
            position: relative;
            border-radius: 8px;
            background-color: #ffffff;
            box-shadow: 0 1px 3px 0 rgba(190, 189, 189, 0.5);
            padding: 10px 22px;
            text-align: center;
            min-height: 340px;
            margin: 0 15px;
            @media screen and (max-width:992px){
                min-height: 380px;
            }
            @media screen and (max-width:864px){
                min-height: 430px;
            }
            @media screen and (max-width:768px){
                min-height: auto;
                margin-bottom: 80px;
                &.last-testimonial{
                    margin-bottom: 0;
                }
            }
            img {
                transform: translatey(-50%);
                width: 150px;
                height: 150px;
            }
            .name{
                font-size: 20px;
                font-weight: 600;
                color: #030429;
                margin-top: -18%;
                 @media screen and (max-width:768px){
                    margin-top:-10%;
                }
                @media screen and (max-width:450px){
                    margin-top:-18%;
                }
            }
            .designation{
                font-size: 18px;
                font-style: italic;
                color: rgba(0, 0, 0, 0.54);
            }
            .comment{
                font-size: 16px;
                line-height: 1.94;
                color: #030429;
                @media screen and (max-width:1100px){
                    font-size: 14px;
                    line-height: 1.7;
                }
               
            }
        }
    }
}

.stories {
    border-bottom: .5px solid rgba(0,0,0,.18);
    .row {
        margin-bottom: 30px;
        .box {
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 1px 3px 0 #bebdbd80;
            padding: 30px 30px 30px 100px;
            float: left;
            min-height: 250px;
            position: relative;
            h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: normal;
                color: #030429;
            }
            p {
                font-size: 18px;
                line-height: 1.67;
                color: #0000008a;
            }
            img {
                transform: translateX(-50%);
                top: 40px;
                position: absolute;
                left: 0;
                width: 150px;
                height: 150px;
            }
        }
        &:nth-child(odd) {
            .box {
                padding: 30px 100px 30px 30px;
                img {
                    left: 100%;
                }
            }
        }
    }
}
.bannerNew {
    position: relative;

    .center {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        h5 {
            z-index: 5;
            margin-bottom: 30px;
            margin-top: 0;
            font-size: 48px;
            font-weight: 600;

            line-height: normal;
            letter-spacing: 2.3px;
            text-align: center;
            color: #ffffff;
        }
        p {
            font-size: 28px;
            font-weight: 300;

            line-height: normal;
            letter-spacing: 0.3px;
            text-align: center;
            color: rgba(250, 251, 252, 0.73);
            margin-bottom: 50px;
            width: 33%;
        }
        .btn {
            padding: 15px 50px;
            border-radius: 47px;
            font-size: 18px;
            font-weight: 600;

            line-height: normal;
            letter-spacing: normal;
            &.btn-default {
                background-color: #ffffff;
                color: #1870e6;
            }
            &.btn-primary {
                background-color: #1870e6;
                color: #ffffff;
            }
        }
    }
    .imgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 50%;
        }
    }
}


.all-opportunities {
    padding: 0 !important;
    .modal-dialog{
        width: 100%;
        height: 100%;
        margin:0;
        @media (max-width:992px) {
             width:auto;
        }
        .modal-content{
            border-radius:0;
            min-height: 100%;
            border:0;
            .opportunity-header{
                padding: 30px;
                padding-right: 60px;
                text-align: center;
                background-color: #1870e6;
                position: relative;
                .modal-title{
                    font-size: 28px;
                    font-weight: bold;
                    letter-spacing: 2.1px;
                    color:$white;
                    text-transform: uppercase;
                   
                }
                img{
                    position: absolute;
                    right: 8%;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
            .opportunities-content{
                padding: 0;
                display: flex;
                .categories-wrapper{
                    width: 272px;
                    .category{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        border:0;
                        border-radius: 0;
                        text-align: left;
                        padding: 30px 20px 30px 30px;
                        border-bottom: solid 0.7px rgba(0, 0, 0, 0.18);
                        border-left:4px solid transparent;
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 0.3px;
                        color:#747474;
                        span{
                            background-color: #F7F7F7;
                            padding: 5px 12px;
                            border-radius: 50%;
                            float: right;
                        }
                        &:hover{
                            background-color: transparent;
                        }
                        &.active-category{
                            border-left:4px solid #05cc7f;
                            color: #05cc7f;
                        }
                    }
                }
                .feature-job-wrapper{
                    padding: 60px 35px 30px;
                    .content-wrapper{
                        max-width: 1000px;
                        margin: 0 auto;
                        .job-content{
                            position: relative;
                            border-radius: 2px;
                            border: solid 1px #d8d8d8;
                            padding: 20px 22px;
                            margin-bottom: 40px;
                            .job-name{
                                font-size: 18px;
                                letter-spacing: 1.1px;
                                color: #000;
                                text-transform: uppercase;
                                font-weight: 600;
                                @media screen and (max-width:564px){
                                    font-size:16px;
                                    letter-spacing: 0.5px;
                                }
                                span{
                                    font-size: 14px;
                                    color: rgba(0, 0, 0, 0.87);
                                    text-transform: none;
                                    float: right;
                                    letter-spacing: 0;
                                    @media screen and (max-width:1250px){
                                        display: block;
                                        float:none;
                                        padding-top: 10px;
                                    }
                                }
                                img{
                                    margin-right: 3px;
                                }
                            }
                            .company-name{
                                font-size: 16px;
                                font-style: italic;
                                font-weight: 600;
                                letter-spacing: 1.9px;
                                color: rgba(0, 0, 0, 0.54);
                            }
                            .description{
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 1.88;
                                color: rgba(0, 0, 0, 0.38);
                            }
                            .btn-wrapper{
                                text-align: right;
                                .btn-sign-up{
                                    width: 108px;
                                    border-radius: 2px;
                                    background-color: #1870e6;
                                    font-size: 16px;
                                    font-weight: 500;
                                    letter-spacing: 1.2px;
                                    color: #ffffff;
                                    text-transform: uppercase;
                                    border:0;
                                }
                            }    
                        }
                    }
                }
                
            }
            
            
        }
         
    }  
}