.profile{
    position: relative;
    .sidebar{
        width:275px;
        background-color: #0c2341;
        min-height :100vh;
        position: absolute;
        top:0;
        left:0;
        height: 100%;

        .job-title{
            font-size: 18px;
            letter-spacing: 0.8px;
            color: #ffffff;
            margin: 0;
            padding: 26px 16px;
            line-height: 1.2;
        }

        .side-heading{
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 0.5px;
            color: #506279;
            text-transform: uppercase;
            margin-top: 0;
            padding: 0 16px;
            &.mar34{
                margin-top: 34px;
            }
            span{
                background-color: #22334a;
                color:#1870e6;
                padding: 1px 8px;
                border-radius: 40%;
            }
        }

        .small-info-wrapper{
            padding: 19px 16px;
            border-bottom: solid 1px #293e5a;
            &.active{
                background-color: #182943;
            }
            h2{
                font-size: 16px;
                letter-spacing: 0.7px;
                color: rgba(255, 255, 255, 0.84);
                margin-top: 0;
            }
            p{
                margin-bottom: 0;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.63);
            }
        }

    }

    .profile-info-wrapper{
        background-color: #f8f8fb;
        padding: 55px 116px;
        margin-left: 275px;

        //profile summary styling

        .profile-summary{
            background-color: $white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
            .summary-wrapper{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                padding: 32px 23px 16px;
                h3{
                    font-size: 22px;
                    letter-spacing: 0.4px;
                    color: rgba(0, 0, 0, 0.87);
                    margin-top: 0;
                    display: flex;
                    img{
                        margin-left:10px;
                    }
                }
                .recent-post{
                    font-size: 18px;
                    letter-spacing: 0.3px;
                    color: rgba(0, 0, 0, 0.54);
                    margin-top: 0;
                }

                .last-education{
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    color: rgba(0, 0, 0, 0.87);
                    display: flex;
                    align-items: center;
                    span{
                        margin-left: 10px;
                        &.year{
                            font-style: oblique;
                            color: rgba(0, 0, 0, 0.54);
                        }
                    }
                }
            }

            // profile navigation styling

            .profile-nav{
                border-top: solid 1px rgba(112, 112, 133, 0.12);

                a{
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.38);
                    text-transform: uppercase;
                    padding:17px 40px;
                    display: inline-block;
                    border-bottom: solid 1px #fff;
                    &:hover{
                        text-decoration: none;
                        color: #1870e6;
                        border-bottom: solid 1px #1870e6;
                    }
                    &.activelink{
                        color: #1870e6;
                        border-bottom: solid 1px #1870e6;
                    }
                }
            }
        }


        .highlights-summary{
            padding: 0 15px;
            .higlight-summary-wrapper{
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
                background-color: #ffffff;
                margin-top: 16px;
                padding: 0;
                h4{
                    font-size: 14px;
                    font-weight: 900;
                    color: rgba(0, 0, 0, 0.38);
                    background-color: rgba(142, 150, 160, 0.12);
                    padding:23px 24px;
                    margin: 0;
                    text-transform: uppercase;
                }
                .qualification{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    padding: 24px;
                    > [class*='col-'] {
                        display: flex;
                        flex-direction: column;
                    }

                    h5{
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.87);
                    }
                    p{
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }

    }
}