.howitworks{
    padding-left:20px;
    padding-right:20px;
    .heading{
        color:#1870e6;
    }
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        @media screen and (max-width:992px){
             max-width: 820px;
        }
        .howitworks-content{
            position: relative;
            border-radius: 2px;
            margin: 20px 0;
            padding: 16px;
            border-radius: 2px;
            border: solid 1px #d8d8d8;
            h3{
                font-size: 18px;
                font-weight: 800;
                letter-spacing: 0.4px;
                line-height: 1.2;
                text-transform: uppercase;
                @media screen and (max-width:1140px){
                    font-size:16px
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.56;
                color: #979797;
                max-width: 536px;
                min-height: 47px;
                margin-bottom: 0;
                @media screen and (max-width:1140px){
                    font-size:14px;
                    min-height: 70px;
                }
                @media screen and (max-width:768px){
                    font-size:16px;
                    min-height: auto;
                }
            }
        }
    }
}

.loveus{
    padding-left:20px;
    padding-right:20px;
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        @media screen and (max-width:992px){
             max-width: 820px;
        }
        .loveus-content{
            position: relative;
            border-radius: 2px;
            margin: 20px 0;
            padding: 35px 16px 25px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.04), -2px 0 2px 0 rgba(0, 0, 0, 0.03);
            h3{
                font-size: 16px;
                letter-spacing: 0.5px;
                text-align: center;
                text-transform: uppercase;
                font-weight:800;
                @media screen and (max-width:1140px){
                    font-size:16px
                }
                @media screen and (max-width:1065px){
                    min-height: 40px;
                }
                @media screen and (max-width:992px){
                    min-height: auto;
                }
            }
            p{
                font-size: 16px;
                line-height: 1.88;
                letter-spacing: normal;
                text-align: center;
                color: #979797;
                // min-height: 125px;
                font-weight: 400;
                @media screen and (max-width:1140px){
                    font-size: 14px;
                }
                 @media screen and (max-width:992px){
                    min-height: auto
                }
            }
            img{
                margin: 0 auto;
                display: block;
                width: 125px;
            }
        }
    }
}


.advantage{
    padding-left:20px;
    padding-right:20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.18);
   .heading{
        color:#1870e6;
    }
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 40px;
        @media screen and (max-width:992px){
             max-width: 820px;
             margin-top: 20px;
        }
        .advantage-content{
            position: relative;
            border-radius: 2px;
            margin: 0 0 20px;
            text-align: center;
            h3{
                font-size: 18px;
                letter-spacing: 1px;
                color: #1870e6;
                line-height: 1.4;
                max-width: 265px;
                margin: 20px auto;
            }
            img{
                margin: 0 auto;
                display: block;
            }
        }
    }
}

.reach-out{
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    h2{
        margin-bottom: 20px;
    }
    p{
        max-width: 808px;
        font-size: 22px;
        line-height: 1.73;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 auto;
        span{
            color:#1870e6;
            text-decoration: underline;
        }
    }
    .contact{
        border-radius: 2px;
        background-color: #1870e6;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        min-width:144px;
        padding: 12px;
    }
}


.pricing{
    padding-left:20px;
    padding-right:20px;
    border-top: solid 0.5px rgba(0, 0, 0, 0.18);
    .heading{
        margin-bottom: 0;
    }
    .sub-heading{
        color:#1870e6;
        opacity: 0.73;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-align: center;
        color: rgba(0, 0, 0, 0.54);
        margin-top: 5px;
        margin-bottom: 64px;
    }
    .content-wrapper{
        max-width: 1300px;
        margin: 0 auto;
        .wrapper{
            padding: 10px;
        }
        @media screen and (max-width:1200px){
             max-width:800px;
             margin-top: 20px;
           
            .wrapper{
                &:nth-child(1),&:nth-child(2){
                    .pricing-content{
                        ul{
                            min-height: 300px;
                        }
                    }
                }
            }
            .wrapper{
                &:nth-child(3),&:nth-child(4){
                    .pricing-content{
                        ul{
                            min-height: 500px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width:768px){
             max-width:400px;
             margin-top: 20px;
            
        }
        .pricing-content{
            border-radius: 2px;
            margin: 0 0 20px;
            padding: 10px;
            border-radius: 6px;
            border: solid 1px #eceff1;
            .upper-border{
                width:56px;
                border:2px solid #1870e6;
                border-radius:4px;
            }
            h3{
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.2px;
                text-align: center;
                color: rgba(0, 0, 0, 0.87);
                line-height: 1.3;
                min-height:46px;
                @media screen and (max-width:1200px){
                    min-height: auto;
                }
            }
            .cost{
                font-size: 14px;
                letter-spacing: 0.1px;
                text-align: center;
                margin-bottom: 23px;
                color: rgba(0, 0, 0, 0.47);
                span{
                    color: rgba(0, 0, 0, 0.87);
                }
            }
            .costing-wrapper{
                text-align: center;
                .costing-percentage{
                    font-size: 70px;
                    font-weight: 600;
                    line-height: 0.8;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #1870e6;
                    display: inline-flex;
                    margin-bottom: 10px;
                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.1px;
                        text-align: left;
                        color: #1870e6;
                        margin-bottom: 0;
                        margin-top: 5px;
                        .salary{
                            font-size: 12px;
                            line-height: 1.33;
                            letter-spacing: 0.1px;
                            color: rgba(0, 0, 0, 0.26);
                            margin-top: 2px;
                        }
                    }
                }
            }
            img{
                margin: 35px auto 20px;
                display: block;
                width:150px;
                min-height: 76px;
            }
            ul{
                border-top:solid 0.6px rgba(45, 45, 45, 0.1);
                padding: 25px 0 0 20px;
                min-height: 500px;
                @media screen and (max-width:768px){
                    min-height: auto;
                }
                li{
                    font-size: 14px;
                    letter-spacing: 0.1px;
                    color: rgba(0, 0, 0, 0.87);
                    padding-bottom: 16px;
                    line-height: 1.2;
                    list-style-image:url('/images/services/tick.svg');
                }
            }
            .get-started{
                min-width: 242px;
                padding: 12px;
                background-color: #1870e6;
                border:0;
                margin: 0 auto;
                display: block;
                &:hover{
                    border:0;
                }
            }
        }
    }
}