.success-modal {
    display: flex !important;
    align-items: center;
    .modal-dialog{
        width:500px;
        max-width: 500px;
        .modal-content{
            border-radius:0;
            .modal-body{
                padding: 25px;
                .message{
                    text-align: center;
                    p{
                        font-size: 20px;
                        padding-bottom: 15px
                    }
                }
                 .btn-wrap{
                    text-align: center;
                    .cancel{
                        margin: 15px 0;
                        font-size: 18px;
                        font-weight: 600;
                        width:170px;
                        border-radius: 0;
                        padding: 12px;
                        background-color:transparent;
                        border:1px solid #ccc; 
                        color:#ccc;
                        outline: 0;
                    }
                }
            }
           
            
        }
    }
        
}