.frequentQuestions{
    padding-left:20px;
    padding-right:20px;
    padding-top: 0;
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        .panel-group{
            .panel{
                padding: 28px 10px;
                border-radius: 0;
                border:0;
                border-top:solid 1px rgba(0, 0, 0, 0.18);
                box-shadow: none;

                &:last-child{
                    border-bottom:solid 1px rgba(0, 0, 0, 0.18);
                }

                .panel-heading{
                    padding: 0;
                    background-color: transparent;
                    border:0;
                    .panel-title{
                        font-size: 24px;
                        letter-spacing: 0.4px;
                        color: rgba(0, 0, 0, 0.87);
                        @media screen and (max-width:768px){
                            font-size: 18px;
                            padding-right: 20px;
                        }
                        a{
                            display: block;
                            position: relative;
                            &:hover,&:focus{
                                text-decoration: none;
                            }
                            .svg-wrap{
                                position: absolute;
                                right:0;
                                top:0;
                                 @media screen and (max-width:768px){
                                    right:-15%;
                                }
                            }
                            &.collapsed{
                                .svg-wrap{
                                    transform: rotate(-90deg)
                                }
                            }
                        }
                    }
                }

                .panel-collapse{
                    .panel-body{
                        border:0;
                        padding: 0;
                        padding-top: 10px;
                        font-size: 22px;
                        line-height: 1.64;
                        letter-spacing: 0.4px;
                        color: rgba(0, 0, 0, 0.54);
                        @media screen and (max-width:768px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        
    }
}