.team{
    padding-left:20px;
    padding-right:20px;
    .heading{
        color:#1870e6;
    }
    .content-wrapper{
        max-width: 1140px;
        margin: 0 auto;
        @media screen and (max-width:992px){
             max-width: 820px;
        }
        .team-content{
            position: relative;
            border-radius: 2px;
            margin: 20px 22px;
             @media screen and (max-width:768px){
                 img{
                    width: 300px;
                    display:block;
                    margin: 0 auto;
                 }
                
            }
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(24, 112, 230, 0.50);
                opacity: 0;
                transition: .5s ease;
                .member-details{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    text-align: center;
                    flex-direction: column;
                    padding: 10px;
                    h3{
                        font-size: 22px;
                        margin-top: 0;
                        margin-bottom: 10px;
                    }
                    h4{
                        opacity: 0.95;
                        font-size: 18px;
                        letter-spacing: 1.2px;
                        margin-top: 0;
                        font-style: oblique;
                    }
                    p{
                        font-size: 18px;
                        opacity: 0.65;
                        line-height: 1.2;
                        letter-spacing: 1.2px;
                        max-width: 274px;
                        margin: 0 auto;
                        font-style: oblique;
                    }
                    .social-wrapper{
                        width: 42px;
                        height: 42px;
                        padding: 13px;
                        border-radius: 50%;
                        background-color: #0077b5;
                        position: relative;
                        display: block;
                        margin-top: 5px;
                        cursor:pointer;
                    }
                }
            }
            &:hover{
                .overlay{
                    opacity: 1;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
}