html {
    font-size: 16px;
    @media (max-width: 1200px) {
        font-size: 12px;
        h2 {
            font-size: 2rem !important;
        }
    }
    @media (max-width: 1000px) {
        font-size: 12px;
    }
    @media (max-width: 600px) {
        font-size: 14px;
    }
}
body {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    line-height: 1;
}
// Loader
#app {
    background: #053894;
    height: 100vh;
    &:not(:empty) {
        background: #fff;
        height: initial;
        & + .lds-ring {
            display: none;
        }
    }
}
.lds-wrapper{
    height: 100vh;
    background: #053894;
    position: fixed;
    width:100vw;
    overflow: hidden;
    z-index:1050;
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 84px;
        height: 84px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -42px;
        margin-left: -42px;
        z-index: 444;
        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 6px solid #fff;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #fff transparent transparent transparent;
            &:nth-child(1) {
                animation-delay: -0.45s;
            }
            &:nth-child(2) {
                animation-delay: -0.3s;
            }
            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }

}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img {
    max-width: 100%;
}

section {
    padding-top: 65px;
    padding-bottom: 65px;
    &:first-of-type {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.heading {
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.87);
    &.blue {
        color: #1870e6;
    }
}
.dark {
    background-color: rgba(243, 245, 245, 0.5);
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir-Medium-09.ttf') format('truetype');
}