@import "base";
@import "variables";
@import "flex";
@import "display";
@import "position";
@import "spacing";
@import "text";

@import "./pages/footer";
@import "./pages/brandFooter";
@import "./pages/menu";
@import "./pages/brandMenu";
@import "./pages/frequentQuestions";
@import "./pages/team";
@import "./pages/home";
@import "./pages/contact";
@import "./pages/success";
@import "./pages/jobSeekers";
@import "./pages/careers";
@import "./pages/services";
@import "./pages/documents";

@import "./pages/branding/mokaBrand";
@import "./pages/branding/jobDescription";
@import "./pages/companyAdmin";
@import "./pages/profile";
@import "responsive";




.banner {
    position: relative;
    img {
        width: 100%;
    }
    .center {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        h5 {
            z-index: 5;
            margin-bottom: 10px;
            margin-top: 0;
            font-size: 48px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 2.3px;
            text-align: center;
            color: #ffffff;
        }
        p {
            font-size: 28px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.3px;
            text-align: center;
            color: rgba(250, 251, 252, 0.73);
            margin-bottom: 50px;
            width: 33%;
        }
        .btn {
            padding: 15px 35px;
            border-radius: 47px;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: normal;
            &.btn-default {
                background-color: #ffffff;
                color: #1870e6;
            }
            &.btn-primary {
                background-color: #1870e6;
                color: #ffffff;
            }
        }
    }
    &.job-seekers-splash{
        .center{
            p{
                width:auto;
                max-width:620px;
                color:#fafbfc;

            }
            .btn{
                border-radius:2px;
                padding: 12px 20px;
                width :144px;
            }
        }
    }
}

.splash {
    position: relative;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 20px !important; 
    text-align: center;
    h3{
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 48px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.3px;
        color: #ffffff;
    }
    p {
        font-size: 28px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.3px;
        color: rgba(250, 251, 252, 0.73);
        margin: 0 auto;
        margin-bottom: 50px;
        width: 33%;
    }
    .btn {
            padding: 15px 35px;
            border-radius: 47px;
            font-size: 18px;
            font-weight: 600;
            border:0;
            &.btn-default {
                background-color: #ffffff;
                color: #1870e6;
            }
            &.btn-primary {
                background-color: #1870e6;
                color: #ffffff;
            }
            &:hover{
                border:0;
            }
        }
    &.job-seekers-splash{
         padding-top:200px !important;
         padding-bottom:200px !important;
         @media screen and (max-width:768px){
            padding-top:120px !important;
            padding-bottom:120px !important;
        }
            p{
                width:auto;
                max-width:620px;
                color:#fafbfc;
                opacity: 0.73;
                font-weight: 500;
            }
            @media screen and (max-width:768px){
                h3{
                    font-size: 36px;
                }
                p{
                    font-size:22px;
                }
            }
            @media screen and (max-width:480px){
                h3{
                    font-size: 25px;
                }
                p{
                    font-size:16px;
                }
            }
            .btn{
                border-radius:2px;
                padding: 12px 20px;
                width :144px;
            }
    }
    &.careers-splash{
         padding-top:200px !important;
         padding-bottom:200px !important;
         @media screen and (max-width:768px){
            padding-top:120px !important;
            padding-bottom:120px !important;
        }
        p{
            width:auto;
            max-width:961px;
            color:#fafbfc;
            opacity: 0.73;
            font-weight: 500;
        }
        @media screen and (max-width:768px){
            h3{
                font-size: 36px;
            }
            p{
                font-size:22px;
            }
        }
        @media screen and (max-width:480px){
            h3{
                font-size: 25px;
            }
            p{
                font-size:16px;
            }
        }
        .btn{
            border-radius:2px;
            padding: 12px 20px;
            width :144px;
        }
    }
    &.services-splash{
         padding-top:220px !important;
         padding-bottom:125px !important;
         @media screen and (max-width:768px){
            padding-top:120px !important;
            padding-bottom:120px !important;
        }
        p{
            width:auto;
            max-width:742px;
            color:#fafbfc;
            opacity: 0.73;
            font-weight: 500;
        }
        @media screen and (max-width:768px){
            h3{
                font-size: 36px;
            }
            p{
                font-size:22px;
            }
        }
        @media screen and (max-width:480px){
            h3{
                font-size: 25px;
            }
            p{
                font-size:16px;
            }
        }
        .btn{
            border-radius:2px;
            padding: 12px 20px;
            width :144px;
        }
    }
}

.clientLogo {
    padding: 0 15px;
    .logoRow {
        &.mobile {
            display: none;
        }
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        img {
            max-width: 280px;
            max-height: 100%;
            width: auto;
            height: auto;
        }
        &:nth-child(2n) {
            justify-content: space-around;
        }
        &:last-child {
            justify-content: space-around;
        }
    }
}

.companies {
    position: relative;
    overflow: hidden;
    .companies-strip {
        background: url("/images/mobileStrip.png") repeat-x;
        height: 100px;
        background-size: contain;
        object-fit: contain;
        width: 5076px;
        animation: slide 60s linear infinite;

        &.careers-companies{
            height:300px;
            background-size: cover;
            object-fit: cover;
            background: url("/images/careers/value.png") repeat-x;
        }
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}
